.detail-container {
  margin: auto;
  width: 55%;

  @media screen and(max-width: 600px) {
    width: 95%;
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    width: 85%;
  }

  .detail-main-image {
    text-align: center;

    img {
      max-width: 500px;

      @media screen and(max-width: 990px) {
        width: 100%;
      }
    }
  }

  .detail-content {
          
    a:link {
      color: rgb(47, 105, 47);
      text-decoration: none;
      font-weight: 400;
      font-style: italic;
    }
    
    a:visited {
      color: rgb(47, 105, 47);
      text-decoration: none;
    }

    a:hover {
      font-weight: bold;
    }

    .header {
      font: initial;
      font-size: larger;
      font-style: italic;

      &.date {
        font-weight: lighter;
        font-size: medium;
      }
    }
    
    .detail.footer {
      font: initial;
      font-size: medium;
      font-style: italic;

      span {
        display: inherit;
      }
    }
  }
}
