.item-float {
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 4px;
  width: 70%;

  @media screen and(max-width: 1024px) {
    width: 100%;
  }

  img {
    width: 150px;
    padding-right: 10px;
    float: left;
  }

  .item-contents {
    &.head {
      font-size: 110%;
      display: block;
    }
    &.date {
      font-style: oblique;
      color: darkslategray;
      display: block;
    }
  }
}
